
<div >
    <!-- <h1 style="align-items: left">FAQ</h1> -->
    <h2 style="align-items: left;">Q1. What is a Vehicle Loan?</h2>
    <h3>Vehicle loan is a loan disbursed by a bank or financial institution (lender) to an individual specifically for buying any type of vehicle. Here, the lender holds the title of vehicle until the loan is paid back in full along with interest.</h3>

  
    <h2 style="align-items: left;">Q2. What is the tenure of a vehicle loan?</h2>
    <h3>Vehicle loans are short term borrowing instruments with a minimum tenure of 1 years and a maximum tenure of 5 years. The tenure offered to you for your Vehicle loan depends on the loan amount that is sanctioned to you by the lender along with other factors. </h3>

    <h2 style="align-items: left;">Q3. What is the Eligibility Criteria for a Home Loan?</h2>
    <h3>Anyone — whether self-employed or salaried individuals/professionals — with a regular source of income can apply for home loans. One must be at least 21 years old when the loan period begins and should not exceed an age of 65 years when the loan ends or at the time of superannuation. This is the generic vehicle loan eligibility criteria and specifics such as the minimum and maximum age limits, minimum income level, etc. may differ from one lender to another. </h3>

    <h2 style="align-items: left;">Q4. Why should I apply for a vehicle loan from GCappps?</h2>
    <h3>In short by applying through GCappps, the process of comparing and choosing vehicle loans is simplified by saving you a lot of time and effort. </h3>

    <h2 style="align-items: left;">Q6. Can I apply for a joint loan?</h2>
    <h3>Immediate family members such as your parents, spouse and children are allowed to be joint borrowers in case of a vehicle loan. </h3>
     </div>



