
  thead{
    border-radius: 15px;
    background-color: #3d2385;
    color: aliceblue;
    width: 100%;
    
}
.buttonclass1{
 
    justify-self: right;
    font-size: 15px;
    border: none;
    background-color: #69c8f3c7;
    height: 40px;
    margin: 30px;
    // background-color: #FFFFFF;
    outline: none;
    width: 23%;
    color: #0c0b0b;
    border-radius: 20px;
    margin-top: 10px;
    &:hover {
        background-color: #080079;
        cursor: pointer;
        color: #ffffff;
    };

}
.fa fa-download{
  
  justify-self: right;
  font-size: 15px;
  border: none;
  background-color: #69c8f3c7;
  height: 40px;
  margin: 30px;
  // background-color: #FFFFFF;
  outline: none;
  width: 19%;
  color: #0c0b0b;
  border-radius: 20px;
  margin-top: 10px;
  &:hover {
      background-color: #080079;
      cursor: pointer;
      color: #ffffff;
  };
}

  .buttonclass3 {
    justify-self: right;
    font-size: 14px;
    border: none;
    background-color: #69c8f3c7;
    height: 40px;
    // margin: 30px;
    // background-color: #FFFFFF;
    outline: none;
    width: 100%;
    color: #0c0b0b;
    border-radius: 18px;
    // margin-top: 10px;
    &:hover {
        background-color: #080079;
        cursor: pointer;
        color: #ffffff;
    };

}