<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
<div class="card">
    <div class="container">
       
<h1><span style="font-size: 50px;">❝</span>Millions of Indians today are upwardly mobile, and on the move. Many are looking at having their own car to reach their destination on time and with comfort. Now, the years of waiting and saving are over. Our Xpress Car Loan will bring that dream of owning a vehicle within your reach in just a few minutes!<span style="font-size: 50px;">❞</span></h1>
</div>
</div>
<div class="card">
<div class="container" id="features">
       
    <h1><span style="font-size: 80px;"></span>Some Of Our Features For You :</h1>
         <div class="col-md-2 feature">
            
             <i class="glyphicon glyphicon-list-alt"></i>
             <h3>Low EMI</h3>
             <div class="title_border"></div>
             <p>Being a secured loan, car loans are generally subject to lower rates of interest as compared to other financing options. </p>
         </div>

         <div class="col-md-2 feature">
            <i class="glyphicon glyphicon-ok"></i>
            <h3>Higher Loan Amount</h3>
            <div class="title_border"></div>
            <p>Larger pre-approved vehicle loans can be a good option for many people who are looking to purchase vehicle</p>
        </div>
         <div class="col-md-2 feature">
             <i class="glyphicon glyphicon-file"></i>
             <h3>Simplified Disbursement</h3>
             <div class="title_border"></div>
             <p>The disbursed loan amount may differ from the amount sanctioned according to the agreement.</p>
         </div>
 
         <div class="col-md-2 feature">
             <i class="glyphicon glyphicon-briefcase"></i>
             <h3> Track Your Loan </h3>
             <div class="title_border"></div>
             <p>Through Online Portal</p>
               <p> Contact The Customer Care</p>
         </div>	
         <div class="col-md-2 feature">
            <i class="glyphicon glyphicon-duplicate"></i>
            <h3>Documents Required</h3>
            <div class="title_border"></div>
            <p>Pancard,Adharcard,Photo,Signature,  IncomeStatement</p>  
        </div>	
        <div class="col-md-2 feature">
            <i class="glyphicon glyphicon-briefcase"></i>
            <h3>Your loan is approved</h3>
            <div class="title_border"></div>
            <p>Get your loan approved with simple steps</p>
        </div>	
     	
</div>
</div>